@inherits LayoutComponentBase

<div class="min-h-screen  bg-gray-50 flex flex-col ">
    <SideBar />

    <main class="transition-all duration-300 ml-60 pt-[60px] flex-grow">
        <div class="container bg-white flex-grow mt-5 mb-5 mr-5 rounded-lg">
            <div class="max-w-3xl mx-auto">
                @Body
               
            </div>
            <Footer />
        </div>
        
    </main>      

    <div id="blazor-error-ui" class="fixed bottom-0 right-0 p-4 hidden">
        An unhandled error has occurred.
        <a href="" class="reload px-2 py-1 bg-blue-500 text-white rounded ml-2">Reload</a>
        <a class="dismiss ml-2 cursor-pointer">🗙</a>
    </div>
</div>
